@font-face {
  font-family: brandon-grotesque;
  src: url(./fonts/Brandon_reg.otf); }
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

.ge-main-container {
  margin: auto;
  width: 1280px;
  margin-top: 60px; }
  @media (max-width: 1280px) {
    .ge-main-container {
      width: 100%; } }

.ge-hed {
  margin-left: 10%;
  max-width: 650px;
  padding-top: 20px;
  padding-bottom: 20px; }

h1.ge-hed-line1 {
  font-size: 14px;
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  letter-spacing: 3px; }
h1.ge-hed-line2 {
  margin: 0px;
  font-size: 50px;
  font-family: 'Freight Display Pro',serif;
  font-weight: lighter;
  margin-bottom: .6em; }
h1.ge-hed-line3 {
  font-size: 14px;
  font-family: 'Freight Display Pro',serif;
  font-weight: lighter;
  line-height: 1.5em; }
h1.ge-hed-line4-mobile {
  display: none; }

#ge-nav-row {
  text-align: center;
  margin: 0; }

li {
  cursor: pointer; }

.ge-nav {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.ge-nav-item {
  box-sizing: border-box;
  margin: 0px;
  margin-right: -4px;
  height: 55px;
  border-bottom: 10px solid #f9f9f9;
  display: inline-block;
  padding: 1px 0;
  width: 225px;
  text-align: center;
  font-size: 11.5px;
  font-family: "brandon-grotesque";
  color: #558af9;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 2.25px;
  cursor: pointer;
  transition: all .3s ease; }
  .ge-nav-item:hover {
    z-index: 1000;
    border-bottom: 10px solid #558af9;
    font-size: 13px;
    color: #558af9;
    letter-spacing: 3.25px;
    font-weight: 700; }

#ge-nav-cc, #ge-nav-op, #ge-nav-cs, #ge-nav-bn {
  box-sizing: border-box; }
  #ge-nav-cc.active, #ge-nav-op.active, #ge-nav-cs.active, #ge-nav-bn.active {
    z-index: 100;
    border-color: #558af9;
    font-size: 13px;
    color: #558af9;
    letter-spacing: 3.25px;
    font-weight: 700; }

#img {
  width: 100%;
  position: relative;
  margin-top: -22px;
  margin-bottom: 50px; }

.ge-main-img {
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
  position: relative; }

.img-credit {
  font-size: 10px;
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 4%;
  bottom: 10px; }

#cc, #op, #cs, #bn {
  display: none; }
  #cc.active, #op.active, #cs.active, #bn.active {
    display: block; }

.ge-btn {
  visibility: visibile;
  color: white;
  text-align: center;
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #567BC0;
  background-color: #447ae4;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  animation-name: pulse; }

button {
  outline: none; }

/* Pulse Animation (credits to Justin Aguilar at www.justinaguilar.com/animations/) */
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.85);
    opacity: 0.7; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.85);
    opacity: 0.7; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.85);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.85);
    opacity: 0.7; } }
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */ }

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-bottom: 5px solid #eaeaea;
  width: 70%;
  max-width: 800px;
  z-index: 20; }

.close {
  cursor: pointer;
  height: 54px;
  width: 54px;
  position: absolute;
  text-align: center;
  right: -27px;
  top: -27px;
  background-color: #558af9;
  opacity: .93;
  border-radius: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28);
  transition: opacity .3s ease;
  z-index: 25;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }
  .close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer; }
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

.icon-plussign {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.ge-modal-text {
  float: right;
  width: 45%;
  text-align: left;
  padding: 35px 60px 5px 5px;
  color: #5D5E61;
  font-size: 14.75px;
  line-height: 1.39;
  margin: 0px;
  font-family: "freight-text-pro";
  font-weight: 400;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased; }

.ge-modal-title {
  font-size: 9.25px;
  line-height: 14px;
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  font-weight: 500;
  color: #558af9;
  letter-spacing: 2.25px;
  margin: 0px; }

.ge-modal-hed {
  color: #000;
  font-family: 'Lora', serif;
  font-weight: 200;
  font-size: 34px;
  letter-spacing: -1px;
  line-height: 40px;
  padding-bottom: 15px;
  padding-top: 3px;
  margin: 0px; }

.ge-sponsored {
  font-size: 8px;
  line-height: 13px;
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  font-weight: 800;
  color: #C6C8D2;
  letter-spacing: 2px;
  margin: 0px; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #7B7A7A; }
  a:hover {
    color: #aeadad; }

.italic {
  font-style: italic; }

.ge-modal-shop {
  font-weight: 600;
  color: #7B7A7A;
  text-decoration: none; }
  .ge-modal-shop:hover {
    color: #7B7A7A; }

.ge-modal-description {
  margin: 0;
  margin-bottom: 13px;
  font-weight: lighter; }
  .ge-modal-description.a {
    text-decoration: none; }

.img-container {
  float: left;
  width: 40%;
  padding: 12px 5px 12px 15px;
  position: relative; }

.features-img {
  max-width: 100%;
  height: auto; }

::selection {
  color: white;
  background: #ee4f4f; }

.ge-tablet {
  height: 100vh;
  display: none; }

.ge-tablet-icon {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.ge-tablet-text {
  font-size: 18px;
  color: #fff;
  letter-spacing: 5.25px;
  font-family: "brandon-grotesque";
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.9;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
  top: 50%;
  display: none; }

.ge-img-mobile,
.ge-section-title-mobile,
.ge-mobile-open,
.mobile-features,
.ge-mobile-section-hed,
.mobile-img-container,
.icon-thin-arrow {
  display: none; }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  html, body {
    overflow: hidden;
    height: 100%; } }
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html, body {
    overflow: auto;
    height: auto; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .ge-tablet, .ge-tablet-icon, .ge-tablet-text {
    display: block; } }
@media (max-width: 767px) and (orientation: portrait) {
  .ge-hed {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    text-align: center;
    background-image: url(../images/mobile/header-image-mobile.png);
    background-size: cover;
    height: calc(100vh - 12px); }

  h1.ge-hed-line1 {
    padding-top: 40%;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-size: 12.5px;
    line-height: 19.13px;
    letter-spacing: 3.75px;
    margin: 12px 0;
    color: #fff;
    margin: auto;
    text-align: center;
    padding-bottom: 20px; }
  h1.ge-hed-line2 {
    font-size: 44px;
    line-height: 1.05;
    letter-spacing: -1.5px;
    margin: 5px 0 30px 0;
    color: #fff; }
  h1.ge-hed-line3 {
    display: none; }
  h1.ge-hed-line4-mobile {
    display: block;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-size: 12.5px;
    line-height: 19.13px;
    letter-spacing: 3.75px;
    margin: 12px 0;
    color: #fff;
    margin: auto;
    text-align: center;
    padding-bottom: 20px; }

  .ge-nav, .ge-main-img, .modal, button {
    display: none; }

  div {
    margin: 0;
    padding: 0; }

  .ge-img-mobile {
    display: block;
    width: 100vw;
    height: calc(100vh - 62px);
    position: relative;
    opacity: .8; }

  .mobile-img-container {
    background: black;
    display: block;
    height: calc(100vh - 62px);
    width: 100vw; }

  #img {
    display: block;
    margin: 0;
    margin-top: -45px; }

  #cc, #op, #cs, #bn {
    position: relative;
    display: block; }

  .ge-main-container {
    overflow-x: hidden;
    margin: 0;
    padding: 0; }

  .ge-section-title-mobile {
    display: block;
    margin: 0px;
    font-size: 40px;
    font-family: 'Freight Display Pro',serif;
    font-weight: lighter;
    color: white;
    position: absolute;
    bottom: 50%;
    left: 40px;
    z-index: 101;
    line-height: 40px;
    width: 200px; }

  .img-credit {
    font-size: 10px;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 10px; }

  .icon-thin-arrow {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    position: absolute;
    font-size: 30px;
    top: 13px;
    left: 11px; }
    .icon-thin-arrow:before {
      content: "\e636"; }

  .ge-mobile-btn {
    z-index: 101;
    display: block;
    cursor: pointer;
    height: 54px;
    width: 54px;
    position: absolute;
    text-align: center;
    left: 70%;
    bottom: 50%;
    background-color: #558af9;
    opacity: .93;
    border-radius: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }

  .mobile-features {
    display: block;
    width: 100%;
    padding: 37px;
    position: relative; }

  .features-img-mobile {
    width: 100%; }

  .ge-features-title-mobile {
    color: #7B7A7A;
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 35px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin: 0px; }

  .ge-features-description-mobile {
    text-align: left;
    font-size: 14.75px;
    line-height: 1.39;
    font-family: "freight-text-pro";
    font-weight: 400;
    color: #7B7A7A;
    text-decoration: none;
    margin: 0;
    margin-bottom: 10px; }

  .ge-features-shop-mobile {
    padding-bottom: 20px;
    display: block; }

  .ge-mobile-section-hed {
    display: block;
    height: 50px;
    background-color: #558af9;
    color: white;
    font-size: 14px;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 42px; }

  .slide-in-mobile {
    height: calc(100vh - 62px);
    overflow: scroll;
    width: 90%;
    background-color: white;
    position: absolute;
    z-index: 100;
    top: 0;
    right: -400px;
    overflow-x: hidden;
    transition: 0.5s; } }
@media (max-width: 767px) and (orientation: landscape) {
  .ge-hed {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    text-align: center;
    background-image: url(../images/mobile/header-image-mobile.png);
    background-size: cover;
    height: 100vh; }

  h1.ge-hed-line1 {
    padding-top: 20%;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-size: 12.5px;
    line-height: 19.13px;
    letter-spacing: 3.75px;
    margin: 12px 0;
    color: #fff;
    margin: auto;
    text-align: center;
    padding-bottom: 20px; }
  h1.ge-hed-line2 {
    font-size: 44px;
    line-height: 1.05;
    letter-spacing: -1.5px;
    margin: 5px 0 30px 0;
    color: #fff; }
  h1.ge-hed-line3 {
    display: none; }
  h1.ge-hed-line4-mobile {
    display: block;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-size: 12.5px;
    line-height: 19.13px;
    letter-spacing: 3.75px;
    margin: 12px 0;
    color: #fff;
    margin: auto;
    text-align: center;
    padding-bottom: 20px; }

  .ge-nav, .ge-main-img, .modal, button {
    display: none; }

  div {
    margin: 0;
    padding: 0; }

  .ge-img-mobile {
    display: block;
    width: 100%;
    position: relative;
    opacity: .8; }

  .mobile-img-container {
    background: black;
    display: block;
    height: 100vh;
    width: 100vw; }

  #img {
    display: block;
    margin: 0;
    margin-top: -45px; }

  #cc, #op, #cs, #bn {
    position: relative;
    display: block; }

  .ge-main-container {
    overflow-x: hidden; }

  .ge-section-title-mobile {
    display: block;
    margin: 0px;
    font-size: 50px;
    font-family: 'Freight Display Pro',serif;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 110px;
    left: 40px;
    z-index: 101;
    line-height: 55px;
    width: 200px; }

  .img-credit {
    font-size: 10px;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 10px; }

  .icon-thin-arrow {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    position: absolute;
    font-size: 30px;
    top: 13px;
    left: 11px; }
    .icon-thin-arrow:before {
      content: "\e636"; }

  .ge-mobile-btn {
    z-index: 101;
    display: block;
    cursor: pointer;
    height: 54px;
    width: 54px;
    position: absolute;
    text-align: center;
    left: 70%;
    bottom: 40%;
    background-color: #558af9;
    opacity: .93;
    border-radius: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }

  .mobile-features {
    display: block;
    width: 100%;
    padding: 30px;
    position: relative; }

  .features-img-mobile {
    width: 100%; }

  .ge-features-title-mobile {
    color: #7B7A7A;
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 34px;
    letter-spacing: -1px;
    line-height: 40px;
    padding-bottom: 15px;
    padding-top: 3px;
    margin: 0px; }

  .ge-features-description-mobile {
    text-align: left;
    font-size: 14.75px;
    line-height: 1.39;
    font-family: "freight-text-pro";
    font-weight: 400;
    color: #7B7A7A;
    text-decoration: none;
    margin: 0;
    margin-bottom: 10px; }

  .ge-features-shop-mobile {
    padding-bottom: 20px;
    display: block; }

  .ge-mobile-section-hed {
    display: block;
    height: 50px;
    background-color: #558af9;
    color: white;
    font-size: 14px;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 42px; }

  .slide-in-mobile {
    height: 100vh;
    overflow: scroll;
    width: 70%;
    background-color: white;
    position: absolute;
    z-index: 100;
    top: 0;
    right: -700px;
    overflow-x: hidden;
    transition: 0.5s; } }

/*# sourceMappingURL=style.css.map */
